src/timeshift
src/timeshift-gtk
designs/
release/source
release/amd64
release/i386
release/armel
release/armhf
release/*.deb
release/*.run
*.geany
*.mo
*.c
*.o
.bzr
.git
*~
po-lp/
parts/
stage/
prime/
snap/
release/
debian/timeshift/
rpm/
debian/debhelper-build-stamp
debian/files
debian/timeshift.debhelper.log
debian/timeshift.substvars

debian/.debhelper/
