src/timeshift
src/timeshift-gtk
designs/
release/source
release/amd64
release/i386
release/armel
release/armhf
release/*.deb
release/*.run
*.geany
*.mo
*.c
*.o
.bzr
.git
*~
po-lp/
parts/
stage/
prime/
snap/
/.anjuta/default.profile
/.anjuta/session/anjuta.session
/.anjuta/session/dock-layout.xml
/.anjuta_sym_db.db
/tim_notes.txt
/timeshift.anjuta
