[Desktop Entry]
Name=Timeshift
MimeType=
Exec=timeshift-launcher
Type=Application
GenericName=System Restore Utility
GenericName[ru]=Программа для восстановления системы
GenericName[ca]=Utilitat de restauració del sistema
Terminal=false
Icon=timeshift
Comment=System Restore Utility
Comment[ru]=Программа для восстановления системы
Comment[ca]=Utilitat de restauració del sistema
X-KDE-StartupNotify=false
Categories=System;
