[Desktop Entry]
Name=TimeShift
MimeType=
Exec=gksu timeshift 
Type=Application
GenericName=System Restore Utility
Terminal=false
Icon=timeshift
Caption=System Restore Utility
X-KDE-StartupNotify=false
Categories=System;
Name[en_IN]=timeshift
