[Desktop Entry]
Name=Timeshift
MimeType=
Exec=timeshift-launcher
Type=Application
GenericName=System Restore Utility
Terminal=false
Icon=timeshift
Comment=System Restore Utility
X-KDE-StartupNotify=false
Categories=System;
Name[en_IN]=Timeshift
