[Desktop Entry]
Name=TimeShift
MimeType=
Exec=gksu timeshift 
Type=Application
GenericName=System Restore Utility
Terminal=false
Icon=/usr/share/pixmaps/timeshift.png
Caption=System Restore Utility
X-KDE-StartupNotify=false
Categories=System;
Name[en_US]=TimeShift
