app_name: Timeshift
depends_debian:  libgee-0.8-2 libvte-2.91-0 libjson-glib-1.0-0 libxml2 libsoup2.4 rsync
depends_redhat:  libgee vte291 json-glib libxml2 rsync
depends_arch:    libgee vte3 json-glib libxml2 rsync
depends_generic: libgee libvte json-glib libxml2 libsoup rsync
assume_yes: 0
exec_line: timeshift-gtk
